<%- layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-6 ">
        <div class="card mb-3" >
            <% for(let img of campground.images){ %>
            <img src="<%= img.url %>" class="card-img-top" alt="...">
            <% } %>
            <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%= campground.location %></li>
            <li class="list-group-item text-muted">￥<%= campground.price %>/泊</li>
            <li class="list-group-item ">登録者:<%= campground.author.username %></li>
            </ul>
            <div class="card-body">
                <% if(campground.author.equals(currentUser._id)) { %>
                <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-outline-dark">編集する</a>
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-outline-dark">削除する</button>
                </form>
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id='map' style='width: 400px; height: 300px;'></div>
        <h2>レビュー</h2>
        <form action="/campgrounds/<%= campground._id %>/reviews" class="mb-3 validated-form" method="post" novalidate>
            <div class="mb-3">
                <label class="form-label" for="rating">評価</label>
                <input class="form-range" type="range" min="0" max="5" name="review[rating]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">コメント</label>
                <textarea class="form-control" name="review[body]" id="body" col="30" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-outline-dark">投稿する</button>
        </form>
        <div class="card mb-3">
            <div class="card-body"></div>
            <% for (let review of campground.reviews){ %>
                <div class="card-body">
                    評価:<%= review.rating %> コメント:<%= review.body %>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-outline-dark">削除する</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
</div>
<script>
    const mapToken = "<%= process.env.MAPBOX_TOKEN %>"
    const Campground = <%- JSON.stringify(campground) %>;
</script>

<script src="/javascripts/showPageMap.js"></script>